<div class="container">
<h1>Bingsu Corp.</h1>
<h2>About Us</h2>
<hr>
<h3> Team since June of 2014.</h3>
<p> We all met at Holy Angel University. We are all major in Web Development.
We are also friends in real life. <br> If we could given a chance, we would like to do business in the near future with the three of us. <br></p>
</div>