$font-stack: Arial, sans-serif;
$color1: #cc00ff;
$primary-color: #333;
$fontsize: 18px;
$border: 3px solid $color1;
$margin: 15px auto;
$padding: 20px;
$width: 600px;





body {
  font: $font-stack;
  color: $primary-color;
  
}

.container {
  width: $width;
  border: $border;
  padding: $padding;
  margin: $margin;
  
}

